<div class="wrapper">
  <section class="chat-area">
    <header>
      <a href="/usuario" class="back-icon"><i class="fas fa-arrow-left"></i></a>
      <img src="../../assets/images/" alt="">
      <div class="details">
        <span>nombre_usuario apellido_usuario</span>
        <p>estado_usuario</p>
      </div>
    </header>

    <div class="chat-box">
    <div class="contenedor-loader-chat"><div class="loader"><div></div><div></div><div></div></div></div>
    </div>
    <form action="#" class="typing-area">
      <input type="text" class="id_entrada" name="id_entrada" value="{iddelusuario}" hidden>
      <input type="text" class="contenido" name="contenido"  placeholder="Escribe un mensaje aquí..." autocomplete="off">
      <button><i class="fab fa-telegram-plane"></i></button>
    </form>
  </section>
</div>
