<div class="wrapper">
  <section class="form login">
    <header>ChatForFreeWithout <i class="fas fa-solid fa-poop"></i></header>
    <form  (ngSubmit)="onSubmit()" [formGroup]="formLogin">
      <div class="error-text"></div>
      <div class="field input">
        <label>Correo Electronico</label>
        <input type="text" formControlName="email_usuario" name="email_usuario" placeholder="Ingresa tu correo" required>
      </div>
      <div class="field input">
        <label>Contraseña</label>
        <input type="password" formControlName="contrasena_usuario" name="contrasena_usuario" placeholder="Ingresa tu contraseña" required>
        <i class="fas fa-eye"></i>
      </div>
      <div class="field button">
         <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Ingresar
          </button>
        <!-- <input type="submit" name="submit" value="Ingresar"> -->
      </div>
    </form>
    <div class="link">¿Aún no te registras? <a routerLink="registro">Registrate ahora</a></div>
  </section>
</div>
